.modal {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1055;    
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: 0;
}

.fade {
    transition: opacity .15s linear;
}

.modal.show .modal-dialog {
    transform: none;
    transition: transform .3s ease-out;
}

.modal-dialog {
    outline: 0!important;
}

.p-9 {
    padding: 2.25rem!important;
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 1.75rem;
    pointer-events: none;
}

.modal-fullscreen .modal-content {
    border-radius: 24px;
    height: 100%;
    border: 0;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000000;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.175);
    border-radius: 0.9rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    outline: 0;
}

.modal-fullscreen .modal-content .modal-header {
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.modal-fullscreen .modal-footer, .modal-fullscreen .modal-header {
    border-radius: 0;
}

.header-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/src/assets/header-bg.png");
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.75rem;
    border-bottom: 1px solid #eff2f5;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}

.modal-fullscreen .modal-body {
    overflow-y: hidden;
}

.scroll-y {
    overflow-y: scroll;
    position: relative;
}

.m-5 {
    margin: 1.25rem!important;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.75rem;
}

.fw-normal {
    font-weight: 400!important;
}

.ms-2 {
    margin-left: 0.5rem!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.pb-10 {
    padding-bottom: 2.5rem!important;
}

.pt-15 {
    padding-top: 0.75rem!important;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.mw-600px {
    max-width: 100%!important;
}

.w-100 {
    width: 100%!important;
}

.current{
    display: flex;
    width: 100%;
}

.mh-300px {
    width: 100%;
    max-height: 500px!important;
}

.me-n7 {
    margin-right: -1.75rem!important;
}

.scroll-y {
    overflow-y: scroll;
    position: relative;
}

.pe-7 {
    padding-right: 1.75rem!important;
}

.flex-stack {
    justify-content: space-between;
    align-items: center;
}

.border-bottom-dashed {
    border-bottom-style: dashed!important;
}

.border-bottom {
    border-bottom: 1px solid #eff2f5!important;
}

.py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.text-dark {
    color: #181C32!important;
}

.fw-bold {
    font-weight: 600!important;
}

.align-items-center {
    align-items: center!important;
}

.text-muted {
    color: #A1A5B7!important;
}

.fw-semibold {
    font-weight: 500!important;
}

.fs-6 {
    font-size: 1.075rem!important;
}

.fv-plugins-icon-container {
    position: relative;
}

.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn-check:active+.btn.btn-outline.btn-outline-dashed, .btn-check:checked+.btn.btn-outline.btn-outline-dashed, .btn.btn-outline.btn-outline-dashed.active, .btn.btn-outline.btn-outline-dashed.show, .btn.btn-outline.btn-outline-dashed:active:not(.btn-active), .btn.btn-outline.btn-outline-dashed:focus:not(.btn-active), .btn.btn-outline.btn-outline-dashed:hover:not(.btn-active), .show>.btn.btn-outline.btn-outline-dashed {
    border-color: #009ef7;
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
    box-shadow: none!important;
}

.btn-check:active+.btn.btn-active-light-primary, .btn-check:checked+.btn.btn-active-light-primary, .btn.btn-active-light-primary.active, .btn.btn-active-light-primary.show, .btn.btn-active-light-primary:active:not(.btn-active), .btn.btn-active-light-primary:focus:not(.btn-active), .btn.btn-active-light-primary:hover:not(.btn-active), .show>.btn.btn-active-light-primary {
    color: #009ef7;
    border-color: #f1faff;
    background-color: #f1faff!important;
}

.btn.btn-outline.btn-outline-dashed {
    border-width: 1px;
    border-style: dashed;
}

.btn.btn-outline-dashed {
    border: 1px dashed #E4E6EF;
}

.p-7 {
    padding: 1.75rem!important;
}

.mb-10 {
    margin-bottom: 2.5rem!important;
}


.btn-check:active+.btn.btn-active-light-primary .svg-icon, .btn-check:active+.btn.btn-active-light-primary i, .btn-check:checked+.btn.btn-active-light-primary .svg-icon, .btn-check:checked+.btn.btn-active-light-primary i, .btn.btn-active-light-primary.active .svg-icon, .btn.btn-active-light-primary.active i, .btn.btn-active-light-primary.show .svg-icon, .btn.btn-active-light-primary.show i, .btn.btn-active-light-primary:active:not(.btn-active) .svg-icon, .btn.btn-active-light-primary:active:not(.btn-active) i, .btn.btn-active-light-primary:focus:not(.btn-active) .svg-icon, .btn.btn-active-light-primary:focus:not(.btn-active) i, .btn.btn-active-light-primary:hover:not(.btn-active) .svg-icon, .btn.btn-active-light-primary:hover:not(.btn-active) i, .show>.btn.btn-active-light-primary .svg-icon, .show>.btn.btn-active-light-primary i {
    color: #009ef7;
}

.d-block {
    display: block!important;
}

.text-start {
    text-align: left!important;
}

.fs-4 {
    font-size: 1.25rem!important;
}

.mb-2 {
    margin-bottom: 0.5rem!important;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.manual{
    margin-right: 2%;
}

.buttonManual{
    position: absolute;
    right: 10%;
}

@media (min-width: 1920px){
    .mh-300px {
        width: 100%;
        max-height: 700px!important;
    }
}